

.desktop-tips-card {
   width: 110px;
   height: 150px;
   background-color: #fc9842;
   background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
   border-radius: 10px;
  -ms-transform-origin: center; /* IE 9 */
  -webkit-transform-origin: center; /* Safari 3-8 */
  transform-origin: center;
  animation-name: example;     
  animation-duration: 1s; 
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: 3;
  -webkit-transform: rotate(0deg); /* Safari 3-8 */
  -ms-transform: rotate(0deg); /* IE 9 */
  transform: rotate(0deg);  
  box-shadow: 7px 11px 0px -4px rgba(0,0,0,0.04);
  -webkit-box-shadow: 7px 11px 0px -4px rgba(0,0,0,0.04);
  -moz-box-shadow: 7px 11px 0px -4px rgba(0,0,0,0.04);
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
        from {
        -webkit-transform: rotate(0deg); /* Safari 3-8 */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg);  
        }
        to {
            -webkit-transform: rotate(20deg); /* Safari 3-8 */
            -ms-transform: rotate(20deg); /* IE 9 */
            transform: rotate(20deg);  
        }
}

/* Standard syntax */
@keyframes example {
    0% {
        -webkit-transform: rotate(0deg); /* Safari 3-8 */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg);  
        }
        50% {
            -webkit-transform: rotate(20deg); /* Safari 3-8 */
            -ms-transform: rotate(20deg); /* IE 9 */
            transform: rotate(20deg);  
        }
        100% {
            -webkit-transform: rotate(0deg); /* Safari 3-8 */
            -ms-transform: rotate(0deg); /* IE 9 */
            transform: rotate(0deg);  
        }
}