.modaltitle{
    margin-top: 20px;
}
#phone:focus {
    border-bottom: 1px solid #f44336;
    box-shadow: 0 1px 0 0 #f44336;
  }
  #phone:focus + label {
    color: #f44336;
  }
 .submit {
     text-transform: capitalize;
     width: 80%;
     border-radius: 4px;
    background-color: #fc9842;
    background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
 } 
 #error {
    font-size: 13px;
    color: #c62828;
    text-align: center;
    /* background-color: red; */
 }
.logo {
    margin-bottom: 15px;
}
/* .colum{
    margin-top: -20px;
} */
.fb-btn{
    text-transform: capitalize;
     width: 80%;
     border-radius: 4px; 
}
.col{
    margin: 0;
}